# PostgreSQL Database Connection Settings
PGHOST=localhost
PGPORT=5432
PGUSER=odoo
PGPASSWORD=odoo
PGDATABASE=odoo

# Odoo Server Configuration
# HTTP service port
PORT=8069
# Longpolling port
LONGPOLL_PORT=8071
# Master password for database management (admin actions)
ADMIN_PASSWD=admin
